<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HBServiceSoap" maxReceivedMessageSize="200000000" />
            </basicHttpBinding>
            <customBinding>
                <binding name="HBServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://192.168.16.2:9903/HBService.asmx" binding="basicHttpBinding"-->
            <endpoint address="http://211.149.222.130:24009/HBService.asmx" binding="basicHttpBinding"
                bindingConfiguration="HBServiceSoap" contract="GxServiceReference.HBServiceSoap"
                name="HBServiceSoap" />
            <endpoint address="http://211.149.222.130:24009/HBService.asmx" binding="customBinding"
                bindingConfiguration="HBServiceSoap12" contract="GxServiceReference.HBServiceSoap"
                name="HBServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>