<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exhaustDetect.Properties.Settings.CD_VMASConnectionString" connectionString="Data Source=LUCKYZJIAN-PC\SQLEXPRESS;Initial Catalog=CD_VMAS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="exhaustDetect.Properties.Settings.CD_VMAScarInf" connectionString="Data Source=LUCKYZJIAN-PC\SQLEXPRESS;Initial Catalog=CD_VMAS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
