<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeusoftUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NeusoftUtil.Properties.Settings>
            <setting name="NeusoftUtil_WebReference_WebCtrlCenter" serializeAs="String">
                <value>http://192.168.1.100/WebCtrlCenter.asmx</value>
            </setting>
        </NeusoftUtil.Properties.Settings>
    </applicationSettings>
</configuration>