<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HnWebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <HnWebClient.Properties.Settings>
            <setting name="HnWebClient_WebReference_ExternalAccess" serializeAs="String">
                <value>http://192.168.1.230/jcz_jk/ExternalAccess.asmx</value>
            </setting>
        </HnWebClient.Properties.Settings>
    </applicationSettings>
</configuration>